body{
  margin: 0;
  font-family: 'Helvetica';
  font-size: 15px;
  background: #30526c;
}

a{
  color: #30526c;
}

.cabecera{
  position: sticky;
  top: 0;
  background: #aae5f5;
  padding: 15px 0;
  z-index: 1000;
  border-bottom: 2px solid #aae5f5;
  box-shadow: 0 4px 15px #000000;
}

.barra-navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para la targeta de Bootstrap */
.card{
    width: 15%;
    color: rgb(10, 75, 115);
    background: rgba(235, 231, 231, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
